.messages-list {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background: var(--darkGray);
    border-radius: 5px;
    padding-bottom: 20px;
}

.messages-list form {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
}

.messages-list form input {
    width: 100%;
    padding: 15px 60px 15px 20px;
    border-radius: 25px;
    display: block;
    background-color: var(--gray);
    outline: none;
    border: none;
    color: var(--white);
}

.messages-list form button {
    position: absolute;
    display: flex;
    align-items: center;
    right: 40px;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-size: 1.2rem;
}

.messages-list form input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.04);
}

.messages-list ul {
    height: 100%;
    overflow: auto;
}

.message-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    cursor: pointer;
    transition: .1s;
}

.message-item.active,
.message-item:first-of-type {
    background: rgba(255, 255, 255, .1);
}
.messages-list ul:has(.message-item.active) .message-item:first-of-type:not(.active) {
    background: transparent;
}

.message-item:hover {
    background: rgba(255, 255, 255, .05);
}

.message-item>* {
    pointer-events: none;
}

.message-item>div {
    width: 100%;
}

.message-item__content>p:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 5px;
}

.message-item__content>p:first-of-type span {
    font-size: 10px;
    font-weight: 400;
    opacity: .4;
}

.message-item__content>p:last-of-type {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
    opacity: .6;
}


@media (max-width: 1150px) {
    .messages-list{
        max-width: 300px;
    }
}